name: Build and publish Linux CUDA package builder images
on:
  #push:
  #  branches:
  #    - main
  #  tags:
  #    - 'pkg-build-*'
  #  paths:
  #    - 'anaconda-pkg-build/linux/cuda/Dockerfile'
  #    - '.github/workflows/anaconda_pkg_build_linux_cuda.yml'
  #pull_request:
  #  paths:
  #    - 'anaconda-pkg-build/linux/cuda/Dockerfile'
  #    - '.github/workflows/anaconda_pkg_build_linux_cuda.yml'
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=docker depName=moby/buildkit
      BUILDKIT_IMAGE_VERSION: v0.22.0@sha256:832fa7aa1eb3deb56fa62ae933bfa42dad9a83ff4824dbbaf173b49c722b59d0
      # renovate: datasource=github-releases depName=docker/buildx
      BUILDX_VERSION: v0.24.0
      # renovate: datasource=docker depName=tonistiigi/binfmt
      QEMU_IMAGE_VERSION: qemu-v9.2.2@sha256:1b804311fe87047a4c96d38b4b3ef6f62fca8cd125265917a9e3dc3c996c39e6
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Public ECR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
        with:
          registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_REGION: us-east-1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:${{ env.QEMU_IMAGE_VERSION }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
          driver-opts: network=host,image=moby/buildkit:${{ env.BUILDKIT_IMAGE_VERSION }}
          version: ${{ env.BUILDX_VERSION }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            continuumio/anaconda-pkg-build
            public.ecr.aws/y0o4y9o3/anaconda-pkg-build
          tags: |
            type=ref,event=branch,suffix=-cuda
            type=ref,event=pr,suffix=-cuda
            type=match,pattern=pkg-build-(.*),group=1,suffix=-cuda

      - name: build-push pkg-builder
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./anaconda-pkg-build/linux/cuda
          builder: ${{ steps.buildx.outputs.name }}
          file: ./anaconda-pkg-build/linux/cuda/Dockerfile
          platforms: linux/amd64
          build-args: |
            CUDA_VERSION=12.4.1
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags') }}
