name: Build and publish Linux package builder images for LTS
on:
  push:
    branches:
      - main
    tags:
      - 'lts-pkg-build-*'
    paths:
      - 'anaconda-pkg-build-lts/linux/Dockerfile'
      - '.github/workflows/anaconda_pkg_build_lts_linux.yml'
  pull_request:
    paths:
      - 'anaconda-pkg-build-lts/linux/Dockerfile'
      - '.github/workflows/anaconda_pkg_build_lts_linux.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v3

      - name: Login to DockerHub
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Public ECR
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
        with:
          registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_REGION: us-east-1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v2
        with:
          version: latest
          driver-opts: network=host

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v4
        with:
          images: |
            continuumio/anaconda-pkg-build
            public.ecr.aws/y0o4y9o3/anaconda-pkg-build
          tags: |
            type=ref,event=branch,suffix=-lts
            type=ref,event=pr,suffix=-lts
            type=match,pattern=lts-pkg-build-(.*),group=1,suffix=-lts
          flavor: |
            latest=false

      - name: build-push pkg-builder
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v4
        with:
          context: ./anaconda-pkg-build-lts/linux
          builder: ${{ steps.buildx.outputs.name }}
          file: ./anaconda-pkg-build-lts/linux/Dockerfile
          platforms: linux/amd64,linux/ppc64le,linux/arm64/v8,linux/s390x
          build-args: |
            BASEVERSION=7
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags') }}
