name: Lint with Hadolint
on:
  pull_request:
    paths:
      - '**/Dockerfile'
      - '.github/workflows/lint.yml'
  push:
    paths:
      - '**/Dockerfile'
      - '.github/workflows/lint.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3
      - name: Lint Dockerfiles
        run: |
          echo "::add-matcher::.github/hadolint-matcher.json"
          make lint-docker
          echo "::remove-matcher owner=hadolint::"
      - name: Install shellcheck
        run: sudo apt-get install -y shellcheck
      - name: Lint Shell Scripts
        run: |
          echo "::add-matcher::.github/shellcheck-matcher.json"
          make lint-sh
          echo "::remove-matcher owner=shellcheck::"
